doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title TRIPXP-shareyoureperience
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Site Description Here')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/stack-interface.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/socicon.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/lightbox.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/flickity.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/iconsmind.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/jquery.steps.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/theme.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/custom.css', rel='stylesheet', type='text/css', media='all')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons', rel='stylesheet')
  body
    a#start
    .nav-container
      .bar.bar--sm.visible-xs
        .container
          .row
            .col-xs-3.col-sm-2
              a(href='index.html')
               
            .col-xs-9.col-sm-10.text-right
              a.hamburger-toggle(href='#', data-toggle-class='#menu1;hidden-xs')
                i.icon.icon--sm.stack-interface.stack-menu
          // end of row
        // end of container
      // end bar
      nav#menu1.bar.bar--sm.bar-1.hidden-xs.bar--absolute.bar--transparent
        .container
          .row
            .col-md-1.col-sm-2.hidden-xs
              .bar__module
                a(href='index.html')
                  
              // end module
            .col-md-11.col-sm-12.text-right.text-left-xs.text-left-sm
              .bar__module
                ul.menu-horizontal.text-left
                  a.btn.btn--sm.btn--primary.type--uppercase(href='/users/login')
                    span.btn__text
                      | Start Your Experience
              // end module
          // end of row
        // end of container
      // end bar
    .main-container
      section.cover.height-80.imagebg.switchable(data-overlay='8')
        .background-image-holder
          img(alt='background')
        .container.pos-vertical-center
          .row
            .col-md-5.col-sm-7
              .switchable__text
                h1
                  | See the world from different eyes
                p.lead
                  | Share your experiences with the world
            .col-md-6.col-sm-4.col-xs-12
              .video-cover.border--round.box-shadow-wide
                .background-image-holder
                  img(alt='image', src="/images/background.jpeg")

              // end video cover
          // end of row
        // end of container
      section.text-center
        .container
          .row
            .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
              h2 What you'll get ?
              p.lead
                | Whether you are a travel geek or a showoff or just like us this is where you need to be.
          // end of row
        // end of container
      section
        .container
          .row
            .col-sm-4
              .feature.feature-3.boxed.boxed--lg.boxed--border.text-center
                i.icon.icon--lg.icon-Mail-3
                h4 Travel Blogging
                p
                  | Share with the world your thoughts and experiences
              // end feature
            .col-sm-4
              .feature.feature-3.boxed.boxed--lg.boxed--border.text-center
                i.icon.icon--lg.icon-Air-Balloon
                h4 Question-Answer Platform
                p
                  | Ask whatever you want to and youll get the answers you are looking for
              // end feature
            .col-sm-4
              .feature.feature-3.boxed.boxed--lg.boxed--border.text-center
                i.icon.icon--lg.icon-Bacteria
                h4 Upvote
                p
                  | Rate the post, blogs and answers according to your wish and may the best post lead.
              // end feature
          // end of row
        // end of container
      section.imagebg
        .background-image-holder
          img(alt='background', src="https://images.pexels.com/photos/185933/pexels-photo-185933.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260")
        .container
          .row
            .col-sm-7.col-md-5.col-sm-offset-5.col-md-offset-7
              .boxed.boxed--lg.border--round.bg--white
                .col-md-10.col-md-offset-1.col-sm-12
                  h3 Experience the World
                  p.lead
                    |Know the world like you want to by visiting the posts and answers posted by the other users
                  
          // end of row
        // end of container
      section.text-center.bg--secondary
        .container
          .row
            .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
              h2 Perfect for Everyone
              p.lead
                | Whether you’re a travel enthusiast or a blogger or want to show your photography skills this is where you need to be
          // end of row
        // end of container
      section.bg--secondary.imagebg.image--light
        .background-image-holder.visible-lg
          img(alt='background', src='img/device-bg-1.jpg')
        .container
          .row
            .col-sm-8.col-sm-offset-2.text-center
          // end of row
        // end of container
      section.text-center
        .container
          .row
            .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
              .cta
                h2 Join Us
                p.lead
                  | 
                a.btn.btn--primary.type--uppercase(href='#')
                  span.btn__text
                    | It's Free
          // end of row
        // end of container
      footer.footer-3.text-center-xs.space--xs
        .container
          .row
            .col-sm-6
              
              ul.list-inline.list--hover
                li
                  a(href='#')
                    span.type--fine-print Get Started
                li
                  a(href='#')
                    span.type--fine-print anujbhatt111@gmail.com
            .col-sm-6.text-right.text-center-xs
              ul.social-list.list-inline.list--hover
                li
                  a(href='#')
                    i.socicon.socicon-google.icon.icon--xs
                li
                  a(href='#')
                    i.socicon.socicon-twitter.icon.icon--xs
                li
                  a(href='#')
                    i.socicon.socicon-facebook.icon.icon--xs
                li
                  a(href='#')
                    i.socicon.socicon-instagram.icon.icon--xs
          // end of row
          .row
            .col-sm-6.text-right.text-center-xs
              span.type--fine-print
                | ©
                span.update-year
                |  Stack Inc.
              a.type--fine-print(href='#') Privacy Policy
              a.type--fine-print(href='#') Legal
          // end of row
        // end of container
    // <div class="loader"></div>
    a.back-to-top.inner-link(href='#start', data-scroll-class='100vh:active')
      i.stack-interface.stack-up-open-big
    script(href='/javascripts/jquery-3.1.1.min.js').
    script(href='/javascripts/flickity.min.js').
    script(href='/javascripts/easypiechart.min.js').
    script(href='/javascripts/parallax.js').
    script(href='/javascripts/typed.min.js').
    script(href='/javascripts/datepicker.js').
    script(href='/javascripts/isotope.min.js').
    script(href='/javascripts/ytplayer.min.js').
    script(href='/javascripts/lightbox.min.js').
    script(href='/javascripts/granim.min.js').
    script(href='/javascripts/jquery.steps.min.js').
    script(href='/javascripts/countdown.min.js').
    script(href='/javascripts/twitterfetcher.min.js').
    script(href='/javascripts/spectragram.min.js').
    script(href='/javascripts/smooth-scroll.min.js').
    script(href='/javascripts/scripts.js').
